.voting-category {
    width: 250px;
    box-shadow: 0px 2px 15px rgba(230, 230, 230, 0.5);
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    position: relative;
}
.voting-category p {
    margin-bottom: 2rem;
}
.voting-category a {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}
.voting-categories {
    justify-content: center;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}